/*******************************************************************************
Project:	Kaspersky Attack maps app 
Version:	v1
Last change:	20/03/20
Primary use: 	
********************************************************************************
@url: 
********************************************************************************
   Author's : Neytho#5355 
   
   _____   __               _____ ______         
   ___  | / /_____ _____  ____  /____  /_ ______ 
   __   |/ / _  _ \__  / / /_  __/__  __ \_  __ \
   _  /|  /  /  __/_  /_/ / / /_  _  / / // /_/ /
   /_/ |_/   \___/ _\__, /  \__/  /_/ /_/ \____/ 
                   /____/                        
********************************************************************************/


/*******************************************************************************
 *                                                                             *
 * Background styles                                                           *
 *                                                                             *
 ******************************************************************************/
 */
/* background. */
html {
    
    color: black;
}



